#content {
    margin-top: 5%;
    margin-left: 5%;
}

#addImageButton {
    border: 1px solid black;
    width: 28%;
    height: 100%;
    display: inline;
    float: left;
}

#addImageText {
    display: inline;
    width: 68%;
    padding: 5px;
    float: right;
}

.inputFieldImage{
    display: block;
    width: 95%;
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.innerContent {
    width: 40%;
    border: 1px solid black;
    height: 150px;
    padding: 1%;
}

.innerContent2 {
    width: 40%;
    border: 1px solid black;
    padding: 1%;
}

.imageDiv {
    border: 1px solid green;
    height:150px;
    margin-bottom: 5px;
}

.image {
    border: 1px solid blue;
    display:inline;
    height:100%;
    width:30%
}

.imageText {
    border: 1px solid red;
    float:right;
    height:100%;
    width:69%
}
